@charset "utf-8";
/* CSS Document */
.core-slideshow-wrapper{ position:relative; overflow:hidden; }
.core-slideshow-item-wrapper{ overflow:hidden; }
.core-slideshow-meta{ position:absolute; top:0px; right:0px; width:30%; height:100%; overflow:hidden; }
