@charset "utf-8";
/* CSS Document */
.core-bug-title,
.core-bug-status,
.core-bug-site{ display:inline-block; margin:0 10px 0 0; font-size:small }
.core-bug-wrapper{ padding-bottom:10px; border-bottom:1px dotted #999; margin-bottom:10px; }

.core-bug-status.new{
	border-radius:7px; -moz-border-radius:7px; -webkit-border-radius:7px;
	padding:0 3px;
	text-align:center;
	background: rgb(180,227,145); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C */	
}

.core-bug-debug-info{ font-size:small; background:#ccc; border:1px dotted #999; width:80%; padding:15px; margin:15px auto; }
.core-bug-debug-title{ font-weight:bold; margin-top:15px; }
.core-bug-reply-wrapper{ width:80%; padding:15px; margin:15px auto; }
.core-bug-reply-text textarea{ width:100%; height:100px; }
.core-bug-reply-submit{ text-align:right; margin:7px 0 0 0; }
.core-bug-reply-submit select{ margin-right:7px; }

.core-bug-replies-text{ font-weight:bold; margin:15px 0; }
.core-bug-replies-wrapper{ width:80%; padding:15px; margin:15px auto; }
.core-bug-reply-list-wrapper{ padding-bottom:10px; margin-bottom:10px; border-bottom:1px dotted #999; }
.core-bug-reply-list-meta{ font-size:small; margin-bottom:10px; }
.core-bug-reply-list-meta *{ display:inline-block; margin-right:5px; }

